<app-header class="sticky-top"></app-header>
<body>
<div class="container col-12">
  <h3 class="text-center mt-3">
    <a href="/contract/list" class="text-black text-decoration-none">Contract List</a>
  </h3>
  <h5 class="text-center" style="color: blue" text="${edit}"></h5>
</div>

<div class="container">
  <div class="row mx-0">
    <div class="col-2 d-flex mb-1">
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
        Add New Contract
      </button>
    </div>
    <div class="col-7"></div>
    <div class="col-3">
      <form class="d-flex mb-1" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
  <table id="customerTable" class="text-center table bg-light table-striped table-bordered" style="width: 100%">
    <!--        <thead>-->
    <tr>
      <th>#</th>
      <th>Service</th>
      <th>Customer</th>
      <th>Begin</th>
      <th>End</th>
      <th>Deposit</th>
      <th>Total Cost</th>
      <th>Attach Facility</th>
    </tr>
    <!--        </thead>-->
    <!--        <tbody>-->
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Villa</td>
      <td>Nguyen Tat Thanh</td>
      <td>15/10/2022</td>
      <td>25/10/2022</td>
      <td>2.000.000</td>
      <td>2150</td>
      <td>
        <a type="button" style="background-color: blue" class="btn btn-primary btn-sm mx-2" data-bs-toggle="modal"
           data-row="${contractF}">
          <i class="fas fa-address-card"></i>
          +
        </a>
        <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
           style="background-color: blue">
          Attach Services
        </a>
      </td>
    </tr>
    <!--        </tbody>-->
  </table>
  <!--Model add-->
  <div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Add new contract</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container w-75">
            <div class="col-12">
              <label for="beginDate" class="form-label">Begin Date:</label>
              <input type="date" id="beginDate" th:min="${beginDate}" class="form-control"/>
            </div>
            <div class="col-12" id="endDay">
              <label for="endDate" class="form-label">End Date:</label>
              <input type="date" id="endDate" class="form-control"/>
            </div>
            <div class="col-12 mb-3">
              <label for="deposit" class="form-label">Deposit:</label>
              <input type="text" class="form-control" id="deposit"/>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label">Employee:</label>
              <select id="employee" class="form-select">
                <option th:each="em : ${employees}" th:text="${em.name}"
                        th:value="${em.id}">
                </option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label">Customer:</label>
              <select id="customer" class="form-select">
                <option th:each="cus : ${customers}" th:text="${cus.name}"
                        th:value="${cus.id}">
                </option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label">Service:</label>
              <select id="services" class="form-select">
                <option th:each="ser : ${services}" th:text="${ser.name}"
                        th:value="${ser.id}">
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="addBtn">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" th:href="@{'/contract/list'(page=${contracts.number - 1},search=${search})}"
             th:if="${contracts.hasPrevious()}">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{'/contract/list'(page=${contracts.number},search=${search})}"
             th:text="${contracts.number + 1}">1
          </a>
        </li>
        <li class="page-item" th:if="${contracts.hasNext()}">
          <a class="page-link" th:href="@{'/contract/list'(page=${contracts.number + 1},search=${search})}"
             th:text="${contracts.number + 2}">2
          </a>
        </li>
        <li class="page-item" th:if="(${contracts.totalPages} - ${contracts.number} > 2)">
          <a class="page-link" th:href="@{'/contract/list'(page=${contracts.number + 2},search=${search})}"
             th:text="${contracts.number + 3}">3
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{'/contract/list'(page=${contracts.number + 1},search=${search})}"
             th:if="${contracts.hasNext()}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $("#addBtn").click(function () {-->
<!--      let begin = $("#beginDate").val();-->
<!--      let endDate = $("#endDate").val();-->
<!--      let deposit = $("#deposit").val();-->
<!--      let employeeId = $("#employee").val();-->
<!--      let customerId = $("#customer").val();-->
<!--      let servicesId = $("#services").val();-->

<!--      let newContract = {-->
<!--        'begin': begin,-->
<!--        'end': endDate,-->
<!--        'deposit': deposit,-->
<!--        'employee': {'id': employeeId},-->
<!--        'customer': {'id': customerId},-->
<!--        'services': {'id': servicesId}-->
<!--      };-->
<!--      $.ajax({-->
<!--        url: "http://localhost:8080/contract/addNewContract",-->
<!--        headers: {-->
<!--          'Accept': 'application/json',-->
<!--          'Content-Type': 'application/json; charset=UTF-8'-->
<!--        },-->
<!--        type: "POST",-->
<!--        // contentType: 'application/json; charset=utf-8',-->
<!--        data: JSON.stringify(newContract),-->
<!--        // data: JSON.stringify({'model': model, 'producer': producer, 'price': price}),-->
<!--        success: function () {-->
<!--          $('#exampleModalAdd').modal('hide');-->
<!--          re();-->
<!--        }-->
<!--      })-->
<!--    });-->

<!--    // $('#beginDate').on('change', function () {-->
<!--    //     let beginDay = $(this).val();-->
<!--    //     $('#endDate').val(beginDay);-->
<!--    //     // $('#endDay').style = "block";-->
<!--    //-->
<!--    // });-->

<!--    function re() {-->
<!--      location.reload()-->
<!--    }-->
<!--  });-->

<!--</script>-->
</body>
