<h1 class="text-center">DELETE PRODUCT</h1>

<form [formGroup]="formDelete" (ngSubmit)="saveDeleting()">
  <div class="mb-3">
    <label for="exampleInputId" class="form-label">ID</label>
    <input formControlName="id" type="number" class="form-control" id="exampleInputId">
  </div>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="exampleInputName">
  </div>
  <div class="mb-3">
    <label for="exampleInputPrice" class="form-label">Price</label>
    <input formControlName="price" type="number" class="form-control" id="exampleInputPrice">
  </div>
  <div class="mb-3">
    <label for="inputDescription" class="form-label">Description</label>
    <input formControlName="description" type="text" class="form-control" id="inputDescription">
  </div>
  <div class="mb-3">
    <label for="inputCategory" class="form-label">Category</label>
    <input formControlName="category" type="text" class="form-control" id="inputCategory">
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>

