<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background-image: url("https://wallpapercave.com/wp/wp4611912.jpg");
        }
    </style>
</head>
<body>
<div th:insert="~{/homePage::header}"></div>
<div class="container col-12">
    <h3 class="text-center">
        <a href="/employee/list" class="text-black text-decoration-none">Employee List</a>
    </h3>
    <h5 class="text-center" style="color: blue" th:text="${edit}"></h5>
</div>

<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
        Add New Employee
    </button>
    <!-- Modal add-->
    <div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="g-3" action="/employee/addNew" method="post" th:object="${employeeDto}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal">Employee Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <label for="inputName" class="form-label">Name:</label>
                            <input type="text" th:field="*{name}" class="form-control" id="inputName" required
                                   pattern="^([\p{Lu}][\p{Ll}]{1,8})(\s([\p{Lu}]|[\p{Lu}][\p{Ll}]{1,10})){0,5}$"
                                   title="abc"/>
                        </div>
                        <div class="col-12">
                            <label for="inputBirthday" class="form-label">Date of birth:</label>
                            <input type="date" th:field="*{birthday}" class="form-control" id="inputBirthday"/>
                        </div>

                        <div class="col-12">
                            <label for="inputIdNum" class="form-label">ID number:</label>
                            <input type="text" th:field="*{idNumber}" class="form-control" id="inputIdNum"/>
                        </div>

                        <div class="col-12">
                            <label for="inputPhoneNum" class="form-label">Phone number:</label>
                            <input type="text" th:field="*{phone}" class="form-control" id="inputPhoneNum"/>
                        </div>

                        <div class="col-12">
                            <label for="inputEmail" class="form-label">Email:</label>
                            <input type="text" th:field="*{email}" class="form-control" id="inputEmail"
                                   placeholder="acb@gmail.com"/>
                        </div>

                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address:</label>
                            <input type="text" th:field="*{address}" class="form-control" id="inputAddress"
                                   placeholder="1234 Main St"/>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Education Level:</label>
                            <select th:field="*{eduLevel}" class="form-select">
                                <option
                                        th:each="level : ${eduLevels}" th:text="${level.eduLevel}"
                                        th:value="${level.id}">
                                </option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Department:</label>
                            <select th:field="*{department}" class="form-select">
                                <option
                                        th:each="dep : ${departments}" th:text="${dep.department}" th:value="${dep.id}">
                                </option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Position:</label>
                            <select th:field="*{position}" class="form-select">
                                <option
                                        th:each="pos : ${positions}" th:text="${pos.position}" th:value="${pos.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="customerTable" class="table table-light table-striped table-bordered text-center" style="width: 100%">
        <!--        <thead>-->
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <!--        </thead>-->
        <!--        <tbody>-->
        <tr th:each="employee, status : ${allEmployee}">
            <td th:text="${allEmployee.number * allEmployee.size + status.count}"></td>
            <td>
                <a class="text-decoration-none"
                   th:text="${employee.name}" th:href="@{/employee/info/__${employee.id}__}">
                </a>
            </td>
            <td th:text="${employee.birthday}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.address}"></td>
            <td>
                <a type="submit" class="text-white btn btn-primary btn-sm" id="edit"
                   th:href="@{/employee/formEdit/__${employee.id}__}">
                    Edit
                </a>
                <!-- Modal edit-->
                <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="g-3" th:action="@{/employee/edit}" method="post" th:object="${employeeDto}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalEdit">Edit Employee:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div class="col-12">
                                        <label for="name" class="form-label">Name:</label>
                                        <input type="text" th:field="*{name}" class="form-control" id="name"/>
                                    </div>
                                    <div class="col-12">
                                        <label for="birthday" class="form-label">Date of birth:</label>
                                        <input type="date" th:field="*{birthday}" class="form-control" id="birthday"/>
                                    </div>

                                    <div class="col-12">
                                        <label for="idNum" class="form-label">ID number:</label>
                                        <input type="text" th:field="*{idNumber}" class="form-control" id="idNum"/>
                                    </div>

                                    <div class="col-12">
                                        <label for="phoneNum" class="form-label">Phone number:</label>
                                        <input type="text" th:field="*{phone}" class="form-control" id="phoneNum"/>
                                    </div>

                                    <div class="col-12">
                                        <label for="inputEmail" class="form-label">Email:</label>
                                        <input type="text" th:field="*{email}" class="form-control" id="email"
                                               placeholder="acb@gmail.com"/>
                                    </div>

                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">Address:</label>
                                        <input type="text" th:field="*{address}" class="form-control" id="address"
                                               placeholder="1234 Main St"/>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Education Level:</label>
                                        <select th:field="*{eduLevel}" class="form-select">
                                            <option
                                                    th:each="level : ${eduLevels}" th:text="${level.eduLevel}"
                                                    th:value="${level.id}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Department:</label>
                                        <select th:field="*{department}" class="form-select">
                                            <option
                                                    th:each="dep : ${departments}" th:text="${dep.department}"
                                                    th:value="${dep.id}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Position:</label>
                                        <select th:field="*{position}" class="form-select">
                                            <option
                                                    th:each="pos : ${positions}" th:text="${pos.position}"
                                                    th:value="${pos.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary exit" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary exit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-row="${employee}"
                   th:attr="data-bs-target='#delete' + ${employee.id}">
                    <i class="fas fa-address-card"></i>
                    Delete
                </a>
                <!-- Modal Delete-->
                <div th:fragment="modal" class="modal fade" th:id="delete + ${employee.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">You are about to delete:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="ps-2">Customer: </span>
                                <span style="color: red" th:text="${employee.name}"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a th:href="@{/employee/delete/__${employee.id}__}" type="submit"
                                   class="btn btn-primary text-decoration-none">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!--        </tbody>-->
    </table>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{'/employee/list'(page=${allEmployee.number - 1},search=${search})}"
                       th:if="${allEmployee.hasPrevious()}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{'/employee/list'(page=${allEmployee.number},search=${search})}"
                       th:text="${allEmployee.number + 1}">1
                    </a>
                </li>
                <li class="page-item" th:if="${contracts.hasNext()}">
                    <a class="page-link" th:href="@{'/employee/list'(page=${allEmployee.number + 1},search=${search})}"
                       th:text="${allEmployee.number + 2}">2
                    </a>
                </li>
                <li class="page-item" th:if="(${allEmployee.totalPages} - ${allEmployee.number} > 2)">
                    <a class="page-link" th:href="@{'/employee/list'(page=${allEmployee.number + 2},search=${search})}"
                       th:text="${allEmployee.number + 3}">3
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{'/employee/list'(page=${allEmployee.number + 1},search=${search})}"
                       th:if="${allEmployee.hasNext()}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<input type="hidden" id="msg" th:value="${msg}">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>-->
<!--<script>-->
<script>
    $(document).ready(function() {
        let a = $("#msg").val();
        if (a === "edit") {
            $("#modalEdit").modal('show');
        }
    });
</script>

</body>
</html>