<title>Facility | Edit</title>
<app-header class="sticky-top"></app-header>
<body>
<div class="container col-12 mt-3">
  <h3 class="text-center" style="color: white">Edit Facility</h3>
</div>

<div class="container border border-primary w-25 mb-5">
  <form [formGroup]="editingForm" class="g-3" method="post">
    <input type="hidden"/>
    <div class="col-12">
      <label class="form-label">Type:</label>
      <select class="form-select" id="selected">
        <option value="">Select Service</option>
        <option selected>Villa</option>
        <option>House</option>
        <option>Room</option>
      </select>
    </div>

    <div class="col-12">
      <label for="inputName" class="form-label">Name:</label>
      <input type="text" class="form-control" id="inputName" value="Room Twin 1"/>
    </div>
    <div class="col-12">
      <label for="area" class="form-label">Area Of Facility:</label>
      <input type="text" value="100" class="form-control" id="area"/>
    </div>

    <div class="col-12">
      <label for="price" class="form-label">Price:</label>
      <input type="text" formControlName="price" class="form-control" id="price"/>
    </div>

    <div class="col-12">
      <label for="capacity" class="form-label">Capacity:</label>
      <input type="text" value="5" class="form-control" id="capacity"/>
    </div>

    <div class="col-12" id="room">
      <label for="standard" class="form-label">Standard:</label>
      <input type="text" value="Vip" class="form-control" id="standard"/>
    </div>

    <div class="col-12" id="utilities">
      <label for="util" class="form-label">Utilities:</label>
      <input type="text" value="Pool" class="form-control" id="util"/>
    </div>

    <div class="col-12" id="pool">
      <label for="poolArea" class="form-label">Area Of Pool:</label>
      <input type="text" value="22" class="form-control" id="poolArea"/>
    </div>

    <div class="col-12" id="numberOfFloor">
      <label for="floor" class="form-label">Number Of Floor:</label>
      <input type="text" value="Not Available" class="form-control" id="floor"/>
    </div>

    <div class="col-12" id="free">
      <label for="freeService" class="form-label">Free:</label>
      <input type="text" value="Not Available" class="form-control" id="freeService"/>
    </div>

    <div class="col-12">
      <label class="form-label">Type Of Renting:</label>
      <select class="form-select">
        <option>Year</option>
        <option>Month</option>
        <option>Day</option>
      </select>
    </div>

    <div class="col-12 mt-3 text-center mb-3">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/facility/list" class="btn btn-secondary mx-3 text-white text-decoration-none">Service list</a>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
  $(function(){
    $('#selected').on('change', function(){
      let id = $(this).val();
      if(id === '1') {
        $('#free').hide();
        $('#numberOfFloor').show();
        $('#room').show();
        $('#pool').show();
        $('#utilities').show();
      }
      else if(id === '2') {
        $('#pool').hide();
        $('#utilities').hide();
        $('#numberOfFloor').show();
        $('#room').show();
        $('#pool').show();
      }
      else if(id === '3') {
        $('#free').show();
        $('#numberOfFloor').hide();
        $('#room').hide();
        $('#pool').hide();
        $('#utilities').hide();
      }
    })
  })
</script>
<script>
  $(function () {
    $("#header").load("../header.html");
  });
</script>
</body>
