<h1 class="text-center">PRODUCT LIST</h1>
<table class="table bg-light table-striped table-bordered text-center container">
  <tr class="text-center">
    <th>No</th>
    <th>Product</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a class="text-decoration-none" routerLink="/product/{{product.id}}">Update</a></td>
    <td><a class="text-decoration-none" routerLink="/productDel/{{product.id}}">Remove</a></td>
  </tr>
</table>
