<title>Customer</title>
<app-header class="sticky-top"></app-header>
<body>
<div class="container col-12">
  <h3 class="text-center mt-3">
    <a href="/customer/list" class="text-white text-decoration-none">Customer List</a>
  </h3>
  <h5 class="text-center" style="color: blue"></h5>
</div>

<div class="container">
  <table id="customerTable" class="table bg-light table-striped table-bordered text-center" style="width: 100%">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Rank</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let customer of customers; index as i">
      <td>{{i + 1}}</td>
      <td>
        <a class="text-decoration-none">{{customer.name}}</a>
      </td>
      <td>
        <span *ngIf="customer.gender == 1">Male</span>
        <span *ngIf="customer.gender == 0">Female</span>
        <span *ngIf="customer.gender == 2">LGBT</span>
      </td>
      <td>{{customer.birthday | date:"yyyy-MM-dd"}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.rank.rankName}}</td>
      <td>
        <a routerLink="customer/{{customer.id}}" class="btn bg-warning btn-sm">Edit</a>

      </td>
      <td>
        <button class="btn bg-danger btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal"
                data-bs-target="#exampleModalDel">
          <i class="fas fa-address-card"></i>
          Delete
        </button>
      </td>
    </tr>
  </table>
  <!-- Modal Delete-->
  <div class="modal fade" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You are about to delete:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="ps-2">Customer: </span>
          <span style="color: red" text="${employee.name}"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="@{/employee/delete/__${employee.id}__}" type="submit"
             class="btn btn-primary text-decoration-none">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="@{'/customer/list'(page=${allCustomer.number - 1},search=${search})}"
             if="${allCustomer.hasPrevious()}">Previous</a>
        </li>
        <li class="page-item" each="star:${#numbers.sequence(1,allCustomer.totalPages - 1)}">
          <a class="page-link"
             href="@{'/customer/list'(page=${star},search=${search})}">
            <span text="${star}">1</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="@{'/customer/list'(page=${allCustomer.number + 1},search=${search})}"
             if="${allCustomer.hasNext()}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</body>
