<h1 class="text-center">ADD NEW PRODUCT</h1>
<form [formGroup]="formAdd" (ngSubmit)="addProduct()" class="container w-25">
  <div class="mb-3">
<!--    <label for="exampleInputId" class="form-label">ID</label>-->
    <input formControlName="id" type="hidden" class="form-control" id="exampleInputId">
  </div>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="exampleInputName">
    <p class="text-danger"
       *ngIf="(formAddControl.name.dirty || submitted) && formAddControl.name.errors?.required">
      Name's product is required
    </p>
  </div>
  <div class="mb-3">
    <label for="exampleInputPrice" class="form-label">Price</label>
    <input formControlName="price" type="number" class="form-control" id="exampleInputPrice">
    <p class="text-danger"
       *ngIf="(formAddControl.price.dirty || submitted) && formAddControl.price.errors?.required">
      Price's product is required
    </p>
  </div>
  <div class="mb-3">
    <label for="inputDescription" class="form-label">Description</label>
    <input formControlName="description" type="text" class="form-control" id="inputDescription">
    <p class="text-danger"
       *ngIf="(formAddControl.description.dirty || submitted) && formAddControl.description.errors?.required">
      Description's product is required
    </p>
  </div>
  <div class="mb-3">
    <label for="inputImg" class="form-label">Image</label>
    <input formControlName="img" type="file" class="form-control" id="inputImg">
    <p class="text-danger"
       *ngIf="(formAddControl.img.dirty || submitted) && formAddControl.img.errors?.required">
      Image's product is required
    </p>
  </div>
<!--  <div class="mb-3">-->
<!--    <label class="form-label">Category</label>-->
<!--    <select formControlName="category" class="form-select">-->
<!--      <option value="">Select category</option>-->
<!--      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>-->
<!--    </select>-->
<!--    <p class="text-danger"-->
<!--       *ngIf="(formAddControl.category.touched || submitted) && formAddControl.category.errors?.required">-->
<!--      Category's product is required-->
<!--    </p>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
